name: Python application

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
    - name: cleanup temp dir
      run: ssh -o StrictHostKeyChecking=no ec2-user@16.171.240.114 "cd temp/ && rm -rf *"
    - name: stop unvicorn
      run: ssh -o StrictHostKeyChecking=no ec2-user@16.171.240.114 "sudo fuser -k 8000/tcp || true" || true"
    - name: copy code to server
      run: ssh -o StrictHostKeyChecking=no ec2-user@16.171.240.114 "cd temp/ && wget https://github.com/madhuribandage/fastapi-app/archive/refs/heads/main.zip"
    - name: unzip the code 
      run: ssh -o StrictHostKeyChecking=no ec2-user@16.171.240.114 "cd temp/ && unzip main.zip"
    - name: install requierements
      run: ssh -o StrictHostKeyChecking=no ec2-user@16.171.240.114 "cd temp/fastapi-app-main/ && pip install -r requirements.txt"
    - name : run the application
      run: ssh -o StrictHostKeyChecking=no ec2-user@16.171.240.114 "cd temp/fastapi-app-main/ && nohup uvicorn app.main:app --host 0.0.0.0 > app.log 2>&1 < /dev/null & disown"
